.contacts-link {
  display: flex;
  color: inherit;

  @media (max-width: $mobile-max-width) {
    justify-content: center;
  }

  &:visited {
    color: inherit;
  }

  &:hover {
    color: $turquoise;
  }

  &:active {
    color: inherit;
    opacity: 0.2;
  }

  &--mail {
    svg {
      fill: $turquoise;
    }

    &:hover {
      svg {
        fill: rgba($basic-black, 0.5);
      }
    }
  }

  &--tel {
width: 200px;
align-self: center;
justify-content: space-between;

    svg {
      fill: none;
      stroke: $turquoise;
    }

    &:hover {
      svg {
        stroke: rgba($basic-black, 0.5);
      }
    }
  }
}
