.page-main {
  h2 {
    text-align: center;
  }
}

.page-main__about {
  padding-left: 22px;
  padding-right: 22px;

  @media (max-width: $tablet-max-width) {
    padding-left: 21px;
    padding-right: 21px;
  }

  @media (max-width: $mobile-max-width) {
    padding-left: 16px;
    padding-right: 16px;
  }
}
